{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
</style>

<div class="container">
    <h1 class="text-center">DashBoard</h1>
    <div class="listesContainer">
    {% for liste in listes %}
        <a href=" {{ path('liste_show', {'id': liste.id}) }} ">
            <div class="paper">
            <div class="pin">
            <div class="shadow"></div>
            <div class="metal"></div>
            <div class="bottom-circle"></div>
            </div>
            <div class="headerListeWrapper">
                <h2>{{ liste.titre }}</h2>
                <p>{{liste.contient.count}}</p>
            </div>
            </div>
                            {# <div class="listeWrapper">
                                    <div class="headerListeWrapper">
                                        <h2>{{ liste.titre }}</h2>
                                        <p>{{liste.contient.count}}</p>
                                    </div>
                                    <div>
                                        <ul>
                                            {% for contient in liste.contient %}
                                                {% for propose in contient.propose %}
                                                    <li>{{propose.nom}}</li>
                                                {% endfor %}
                                            {% endfor %}
                                            
                                        </ul>
                                    </div>
                                </div> #}
        </a>
    {% endfor %}
        <div class="buttonWrapperListe">
            <a href="{{ path('liste_new') }}" class="btn btnNewListe btn-primary"><p>+</p></a>
        </div>
    </div>
    <br />

</div>



{% endblock %}
