{% extends 'base.html.twig' %}

{% block title %}Hello ListeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style><!-- link js bootstrap (je sais faut changer) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<div class="example-wrapper">
    <h1> {{ liste.titre }} </h1>

    <article class="card">
    <!-- List of Article -->
    <h2>Choisissez votre article</h2>
    <section class="container">
        <!-- Form with every Article -->
        <select id="article_select" class="form-control">
            <option value="">Choisissez un article</option>
            {% for article in articles %}
                <option value="{{ loop.index0 }}">{{ article.nom }}</option>
            {% endfor %}
        </select>
        <select id="magasin_select" class="form-control">
            <option value="">Choisissez un magasin</option>
        </select>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <p>Prix : <span id="priceValue"></span></p>
        {{ form_end(form) }}
    </section>
    
    <script>
        // Get the magasin input and fill it when the user select an article
        var articleInput = document.getElementById('article_select');
        var magasinInput = document.getElementById('magasin_select');
        var priceValue = document.getElementById('priceValue');

        // Get the list of propose
        var proposeList = [];
        {% for propose in proposes %}
            proposeList.push({
                magasin: {
                    id: {{ propose.magasin.id }}
                },
                article: {
                    id: {{ propose.article.id }}
                },
                prix: {{ propose.prix }},
                id: {{ propose.id }}
            });
        {% endfor %}
        var magasinList = [];
        {% for magasin in magasins %}
            magasinList.push({
                id: {{ magasin.id }},
                nom: "{{ magasin.nom }}"
            });
        {% endfor %}
        
        articleInput.addEventListener('change', function() {
            fillMagasins.call(this);
            updatePrice();
        });

        magasinInput.addEventListener('change', function() {
            updatePrice();
        });

        function fillMagasins() {
            // Get the article id
            var articleId = this.value;
            // Get the list of magasin
            var magasinList = getMagasinList(articleId);
            // Fill the magasin input
            fillMagasinInput(magasinList);
        }

        function getMagasinList(articleId) {
            // Get the list of magasin
            var magasinList = [];
            // For each propose
            for (var i = 0; i < proposeList.length; i++) {
                // If the article id is the same
                intArticleId = parseInt(articleId) + 1;
                console.log('list: ' + proposeList[i].article.id)
                console.log('article: ' + intArticleId)
                if (proposeList[i].article.id == intArticleId) {
                    // Add the magasin to the list
                    magasinList.push(proposeList[i].magasin);
                }
            }
            return magasinList;
        }

        function fillMagasinInput(magasinList) {
            // Clear the magasin input
            magasinInput.innerHTML = '';
            // Add the default option
            magasinInput.innerHTML += '<option value="">Choisissez un magasin</option>';
            // For each magasin
            for (var i = 0; i < magasinList.length; i++) {
                // Add the option
                magasinInput.innerHTML += '<option value="' + magasinList[i].id + '">' + getMagasinName(magasinList[i].id) + '</option>';
            }
        }

        function getMagasinName(magasinId) {
            // For each magasin
            for (var i = 0; i < magasinList.length; i++) {
                // If the id is the same
                if (magasinList[i].id == magasinId) {
                    // Return the name
                    return magasinList[i].nom;
                }
            }
        }

        function updatePrice() {
            // Get the article id
            var articleId = articleInput.value;
            // Get the magasin id
            var magasinId = magasinInput.value;
            // Get the price
            var propose = getPropose(articleId, magasinId);
            let price = 0;
            if (propose != undefined) {
                price = propose.prix;
                updateProposeInput(propose);
            }
            // Get the quantity
            var quantity = document.getElementById('choose_propose_quantite').value;
            // Update the price
            priceValue.innerHTML = price * quantity;
        }

        function getPropose(articleId, magasinId) {
            let intArticleId = parseInt(articleId) + 1;
            // For each propose
            for (var i = 0; i < proposeList.length; i++) {
                // If the article id and the magasin id are the same
                if (proposeList[i].article.id == intArticleId && proposeList[i].magasin.id == magasinId) {
                    // Return the price
                    return proposeList[i]
                }
            }
        }

        function updateProposeInput(propose) {
            // Get the propose input
            var proposeInput = document.getElementById('choose_propose_propose');
            // Set the selected value of the propose input
            let intProposeId = parseInt(propose.id) - 1;
            proposeInput.value = intProposeId;
            console.log(propose.id);
        }

    </script>
</div>
{% endblock %}
