{% extends 'base.html.twig' %}

{% block title %}Hello ListeController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; margin-top: 11vh; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style><!-- link js bootstrap (je sais faut changer) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<div class="example-wrapper">
    <h1> {{ liste.titre }} </h1>

    <article class="card">

        <div class="settings card-header">
            <div class="sort row">
                <div class="sort-by col-4">
                    <label>Trier par : </label>
                    <select name="sort-by form-control">
                        <option value="nom">Nom</option>
                        <option value="prix">Prix</option>
                    </select>
                </div>
                <div class="sort-order col-4">
                    <label>Ordre : </label>
                    <select name="sort-order form-control">
                        <option value="asc">Croissant</option>
                        <option value="desc">Décroissant</option>
                    </select>
                </div>
                <div class="sort-order col-4">
                    <label>Supprimer : </label>
                    <a href="{{ path('liste_delete',{'id': liste.id}) }}"><i class="fas fa-solid fa-trash" style="margin-top:4px; margin-right:5px; cursor:pointer;"></i></a>
                </div>  
            </div>
        </div>

        <ul class="card-body">
        
            <h2>Liste des articles : </h2><br>
            {% for contient in liste.contient %}
                <li class="form-check itemWrapper" style="list-style-type: none;">
                    <input type="checkbox" name="article" class="checkboxItem"value="{{ contient.propose.article.id }}" class="form-check-input" id="article_{{ contient.propose.article.id }}">
                    <!-- setting icon at the end of the line -->
                    <div style="width: 100%; display: flex; justify-content: space-between">
                        <button data-toggle="modal" data-target="#showItemModal"> {{ contient.quantite }}x {{ contient.propose.article.nom }} - {{ contient.propose.prix }}€ </button> 
                        <span style="display:flex;">
                            <a class="flexLogo" href="{{ path('article_delete',{'id': liste.id,'contientId':contient.id}) }}">
                                <i class="fas fa-solid fa-trash" style="margin-top:4px; margin-right:5px; cursor:pointer;"></i>
                            </a>

                        </span>
                    </div>
                    
                </li>
                <div class="modal fade" id="showItemModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProdcutModalLabel">Modifier la liste</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h2>Article : {{contient.propose.article.nom}}</h2>

                        
                        <img width="100" height="100" src={{ asset('build/images/' ~ contient.propose.article.image ) }} alt="pain">
                        <input type="range" id="rangeQuantity" class="rangeQuantity" name="rangeQuantity" min="0" max="100">
                        {{ form_start(formUp) }}
                            {{ form_widget(formUp) }}
                        {{ form_end(formUp) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
            {% endfor %}
        </ul>

        

        <div class="modal fade" id="ModifyItemModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProdcutModalLabel">Modifier la liste</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    
                </div>
            </div>
    </div>

        <div class="card-footer">
            <!-- Open modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProdcutModal">
                Ajouter un article
            </button>
            <!-- Modal -->
            <div class="modal fade" id="addProdcutModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProdcutModalLabel">Ajouter un article</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- There is two part. One ta ask the store and the other to ask the article with select -->
                        <div class="form-group">
                            <label for="store">Choisir un magasin</label>
                            <select class="form-control" id="store">
                                {% for magasin in magasins %}
                                    <option value="{{ magasin.id }}">{{ magasin.nom }}</option>
                                {% endfor %}
                            </select>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <br>

            <script>
                $(document).ready(function() {
                    $('.select2').select2();
                });
            </script>
        </div>
    </article>
    <br />
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modifyModal">Modifier la liste</button>
    <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProdcutModalLabel">Modifier la liste</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    {{ form_start(formModify) }}
                        {{ form_widget(formModify) }}
                    {{ form_end(formModify) }}
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    
                </div>
    </div>
</div>
{% endblock %}
