{% extends 'baseNoNav.html.twig' %}

{% block title %}Magasin index{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Localisation</th>
                <th>GPSlong</th>
                <th>GPSlat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for magasin in magasins %}
            <tr>
                <td>{{ magasin.id }}</td>
                <td>{{ magasin.nom }}</td>
                <td>{{ magasin.GPSlong }}</td>
                <td>{{ magasin.GPSlat }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_magasin_show', {'id': magasin.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_magasin_edit', {'id': magasin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_magasin_new') }}">Create new</a>
{% endblock %}
