{% extends 'base.html.twig' %}

{% block title %}XtremShoppingManagerDeluxe{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; margin-top:12vh; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<div class="example-wrapper">
    <div class="profilHeader">
        <h1>Voici vos statistiques, {{pseudo}} !</h1>
        
    </div>

    <div class="card-body">
        <section class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Nombre de listes créées</h3>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">{{liste.count}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Total moyen par liste</h3>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">{{average}}€</h1>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <section class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Total des coûts par magasin</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: {{mostUsedMagasinsNames|json_encode|raw}},
                            datasets: [{
                                label: 'Magasins les plus visités',
                                data: {{mostUsedMagasins|json_encode|raw}},
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Types d'articles achetés</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart2"></canvas>
                    </div>
                    <script>
                        var ctx = document.getElementById('myChart2').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: {{mostUsedTypesNames|json_encode|raw}},
                                datasets: [{
                                    label: 'Types d\'articles les plus achetés',
                                    data: {{mostUsedTypes|json_encode|raw}},
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        <br />
        <section class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Article le plus cher</h3>
                    </div>
                    <div class="card-body">
                        {% if mostExpensiveArticle is not null %}
                        <h3 class="text-center">{{mostExpensiveArticle.propose.article.nom}} ({{mostExpensiveArticle.propose.prix}}€)</h3>
                        {% else %}
                        <h3 class="text-center">Aucun article n'a été acheté</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Article le moins cher</h3>
                    </div>
                    <div class="card-body">
                        {% if cheapestArticle is not null %}
                        <h3 class="text-center">{{cheapestArticle.propose.article.nom}} ({{cheapestArticle.propose.prix}}€)</h3>
                        {% else %}
                        <h3 class="text-center">Aucun article n'a été acheté</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Total dépensé</h3>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">{{totalSpend}}€</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <a class="btnDeconnecter" href="{{path('app_logout')}}">Se déconnecter</a>
        </div>
    </div>

    
</div>
{% endblock %}
